<section class="carrocel container  " data-interval="1000">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" >
    
        <div class="carousel-indicators">
    
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="assets/imgs/logo1.jpg">
    
            <div class="container">
    
              <div class="carousel-caption text-start">
               
              </div>
            </div>
          </div>
    
          <div class="carousel-item">
            <img src="assets/imgs/logo2.JPG">
    
            <div class="container">
              <div class="carousel-caption">
                
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/imgs/logo3.jpg"> 
    
            <div class="container">
              <div class="carousel-caption text-end">
                
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev avante" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden " >Previous</span>
        </button>
        <button class="carousel-control-next avante" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <p id="promoção"></p>
      
    </section>