<section class="contatos">
    <h2> Fale conosco 
        <i class="material-icons">
            phone_in_talk
         </i>
         </h2>
        <div class="icones-geral">
         <div class="row ">
          <a href=""><h2>
                <i class="fa-brands icones fa-facebook"></i></h2> </a>
               <a href=""><h2>    <i class="fa-brands icones fa-whatsapp"></i></h2> </a>
               <a href=""><h2>   <i class="fa-solid icones fa-envelope"></i></h2> </a>
               <a href=""><h2>   <i class="fa-brands icones fa-instagram"></i></h2> </a>
               <a href=""><h2>    <i class="fa-solid icones fa-phone"></i></h2> </a>
               <a href=""><h2>    <i class="fa-brands icones fa-telegram"></i></h2> </a>
        </div>
</div>
</section>

<section class="enderecos row">
<footer class="footer">
<h1> Nossas Lojas </h1>
    <h2>
     Loja fisica 1: Rua ficticia, 190, Bairro ficticio - São Paulo/SP-Brasil

    </h2>
    <h2>
        Loja fisica 2: Rua ficticia 2, 780, Bairro ficticio - Rio de Janeiro/RJ-Brasil
   
    </h2>
      
   
</footer>
</section>